<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/App.css">
  </link>
  <title>Cadanac For Hospitals and Health Care Providers</title>
</head>

<body>
  <h1>Cadanac For Hospitals and Health Care Providers</h1>
  <br />
  <div id="root"></div>
</body>
<script src="bundle.js"></script>

</html>